<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>beapi.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>beapi.%d{yyyy-MM-dd-HH-mm}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="timeBased" level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

    <springProfile name="dev">
        <root level="info">
            <appender-ref ref="STDOUT" />
            <appender-ref ref="FILE" />
        </root>
        <logger name="demo.service.*" additivity="false" level="debug">
            <appender-ref ref="STDOUT" />
            <appender-ref ref="FILE" />
        </logger>
    </springProfile>
    <springProfile name="prod">
        <root level="info">
            <appender-ref ref="FILE" />
        </root>
        <logger name="org.apache.catalina.core.*" additivity="false" level="error">
            <appender-ref ref="STDOUT" />
        </logger>
        <logger name="org.springframework.security.web.*" additivity="false" level="error">
            <appender-ref ref="STDOUT" />
        </logger>
        <logger name="org.springframework.boot.web.servlet.filter.*" additivity="false" level="error">
            <appender-ref ref="STDOUT" />
        </logger>
        <logger name="org.apache.catalina.core.*" additivity="false" level="error">
            <appender-ref ref="STDOUT" />
        </logger>
        <logger name="demo.service.*" additivity="false" level="error">
            <appender-ref ref="FILE" />
        </logger>
    </springProfile>
</configuration>
